<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Adform">
	<meta name="description" content="Fight game versus other player on your browser">
	<meta name="keywords" content="fighting game,1vs1,browser fighting">
	<link rel="stylesheet" href="css/style.css">
	<title>Fight game</title>
</head>
<body>
	<canvas id="window">
		Your browser does not support the HTML5 canvas tag.
	</canvas>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="js/app.js"></script>
</body>
</html>