<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fight game</title>
</head>
<body>

<canvas id="window" style="z-index:1">
Your browser does not support the HTML5 canvas tag.
</canvas>

<input type="button" style="z-index:2; position:absolute; top:100px; left:100px; padding:10px; font-size:15px; background=#ADADAD; color:#000; font-weight:bolder; radius:10px;" value="test"/>

  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="public/js/connection.js"></script>
  <script src="public/js/canvas.js"></script>
</body>
</html>