@font-face {
    font-family: 'FSpirit';
	src: url('/fonts/fightspirit.eot');
    src: url('/fonts/fightspirit.ttf') format('truetype');
}

html, body {
	background-color:#000000;
}

#container {
	margin:auto;
	width:900px;
	height:550px;
	margin-top:50px;
}